<section class="friends">
  <div class='page-title col-md-12'>
    <h1>Friends</h1>
  </div>

  <main class='friend-grid'>

    <%= render partial: 'friend', locals: { friends: @friends } %>

  </main>
</section>