<section class="search-results">
  <div class='page-title col-md-12'>
    <h1>Search Results</h1>
  </div>

  <main class='friend-grid'>

    <%= render partial: 'shared/friend', locals: { friends: @users } %>

  </main>
</section>