<% friends.each do |friend| %>
  <div class="col-sm-4">
    <div class="friend-link">
      <%= link_to user_timeline_path(friend) do %>
        <%= image_tag(friend.profile.profile_pic) %>
        <p><%= friend.full_name %></p>
      <% end %>
    </div>
  </div>
<% end %>

<% if friends.empty? %>
  <p>No friends to display</p>
<% end %>