<% if friends %>
  <% friends.each do |friend| %>
    <div class="col-xs-4">
      <div class="friend-link">
        <%= link_to user_timeline_path(friend) do %>
          <%= profile_pic_or_default(friend.profile) %>
          <p><%= friend.full_name %></p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>