<heading>
  <!-- Jumbotron -->
  <section class="jumbotron cover-image">
    <div class="image-mask">
      <!-- <img src="assets/images/harry_potter_small.jpg" alt="profile picture for user" class='profile-pic'>
    </div> -->
    <%= image_tag('harry_potter_small.jpg') %>
    <h2 class='profile-name'>Harry Potter</h2>
  </section>

  <!-- Mid Nav -->
  <nav class='mid-nav'>
    <div class="mid-nav-padding"></div>
    <ul>
      <li>
        <a href="timeline.html">Timeline</a>
      </li>
      <li>
        <a href="about.html">About</a>
      </li>
      <li>
        <a href="photos.html">Photos <span class="count-text">(123)</span></a>
      </li>
      <li class='current'>
        <a href="friends.html">Friends <span class="count-text">(542)</span></a>
      </li>
    </ul>
    <a href="about_edit.html" class='mid-nav-edit'>Edit Profile</a>
  </nav>
</heading>