<section class='about-info row'>
  <h2>About</h2>
  <div class="about-list">
    <p><b>Birthday: </b>
      <%= profile.birthday %>
    </p>
    <p><b>Went to school at: </b>
      <%= profile.college %>
    </p>
    <p><b>Hometown: </b>
      <%= profile.hometown %>
    </p>
    <p><b>Currently Lives: </b>
      <%= profile.currently_lives %>
    </p>
  </div>

</section> 