<section class="timeline">
  <main>
    <!-- Left column -->
    <article class="col-md-4 left-column">

    <%= render partial: 'about_panel', locals: { profile: @user.profile } %>

      <section class='timeline-photos row'>
        <h2>Photos</h2>
        <div class="col-md-4">
          <a href="#"><img src="assets/images/default_photo.png" alt="generic photo icon"></a>
          <a href="#"><img src="assets/images/default_photo.png" alt="generic photo icon"></a>
          <a href="#"><img src="assets/images/default_photo.png" alt="generic photo icon"></a>
        </div>
        <div class="col-md-4">
          <a href="#"><img src="assets/images/default_photo.png" alt="generic photo icon"></a>
          <a href="#"><img src="assets/images/default_photo.png" alt="generic photo icon"></a>
          <a href="#"><img src="assets/images/default_photo.png" alt="generic photo icon"></a>
        </div>
        <div class="col-md-4">
          <a href="#"><img src="assets/images/default_photo.png" alt="generic photo icon"></a>
          <a href="#"><img src="assets/images/default_photo.png" alt="generic photo icon"></a>
          <a href="#"><img src="assets/images/default_photo.png" alt="generic photo icon"></a>
        </div>
        <a href="photos.html">See More Photos</a>
      </section> <!-- /photos -->

      <section class='timeline-friends row'>
        <h2>Friends (542)</h2>
        <div class="col-md-4">
          <div class="friend-link">
            <a href="#">
              <img src="assets/images/default_user.png" alt="generic photo icon">
              <p>Ron Weasley</p>
            </a>
          </div>
          <div class="friend-link">
            <a href="#">
              <img src="assets/images/default_user.png" alt="generic photo icon">
              <p>Ron Weasley</p>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="friend-link">
            <a href="#">
              <img src="assets/images/default_user.png" alt="generic photo icon">
              <p>Ron Weasley</p>
            </a>
          </div>
          <div class="friend-link">
            <a href="#">
              <img src="assets/images/default_user.png" alt="generic photo icon">
              <p>Ron Weasley</p>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="friend-link">
            <a href="#">
              <img src="assets/images/default_user.png" alt="generic photo icon">
              <p>Ron Weasley</p>
            </a>
          </div>
          <div class="friend-link">
            <a href="#">
              <img src="assets/images/default_user.png" alt="generic photo icon">
              <p>Ron Weasley</p>
            </a>
          </div>
        </div>
        <a href="friends.html">See More Friends</a>
      </section> <!-- /friends -->
    </article><!-- /left column -->

    <!-- Right column -->
    <article class="col-md-8 right-column">
      <%= render partial: 'post_form', locals: { post: @post } %>

      <%= render partial: @posts, locals: { user: @user } %>

    </article> <!-- /right column -->
  </main>
</section> <!-- /timeline -->
